/A1/ProyectoInicial/Ex3SaldoDisponible/nbproject/private/
/A1/ProyectoInicial/Ex3SaldoDisponible/build/
/A1/ProyectoInicial/Ex3SaldoDisponible/dist/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/nbproject/private/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/build/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/dist/
/A1/ProyectoInicial/TeoriaStringCondicionals/nbproject/private/
/A1/ProyectoInicial/TeoriaStringCondicionals/build/
