/A1/ProyectoInicial/Ex3SaldoDisponible/nbproject/private/
/A1/ProyectoInicial/Ex3SaldoDisponible/build/
/A1/ProyectoInicial/Ex3SaldoDisponible/dist/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/nbproject/private/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/build/
/A1/ProyectoInicial/ex5EurosCreditsProvenShare/dist/
/A1/ProyectoInicial/TeoriaStringCondicionals/nbproject/private/
/A1/ProyectoInicial/TeoriaStringCondicionals/build/
/A1/ExCondicionalsBecaConcedida/nbproject/private/
/A1/ExCondicionalsBecaConcedida/build/
/A1/ExCondicionalsBecaConcedida/dist/
/A1/TeoriaCondicionalBecaFamiliaNumerosa/nbproject/private/
/A1/TeoriaString/nbproject/private/
/A1/TeoriaString/build/
/A1/ProyectoInicial/JavaApplication20/nbproject/private/
/A1/ProyectoInicial/Ex1CondicionalsEstatProducte/nbproject/private/
/A1/ProyectoInicial/Ex1CondicionalsEstatProducte/build/
/A1/ProyectoInicial/Ex1CondicionalsEstatProducte/dist/
/A1/ProyectoInicial/Ex3CondicionalRolUsuari/nbproject/private/
/A1/ProyectoInicial/Ex3CondicionalRolUsuari/build/
/A1/ProyectoInicial/Ex4CreditsInicials/nbproject/private/
/A1/ProyectoInicial/Ex4CreditsInicials/build/
/A1/TeoriaSwitch/nbproject/private/
/A1/TeoriaSwitch/build/
/A1/Ex6Reputació/nbproject/private/
/A1/Ex6Reputació/build/
/A1/Ex6Reputació/dist/
/A1/Ex8CreditSaldoMoneder/nbproject/private/
/A1/Ex8CreditSaldoMoneder/build/
/A1/Ex8CreditSaldoMoneder/dist/
